<h1>StreetFighter! Welcome</h1>
<h2>Enter your names to fight</h2>
  <form action='/names' method='POST'>
    <label for ="Player_1">
      Player 1 Name
      <input type='text' name='Player_1'>
    </label>
    <label for ="Player_2">
      Player 2 Name
      <input type='text' name='Player_2'>
    </label>
    <input type='submit' value='Submit'>
  </form>